[Unit]
Description=Checkmate Python API on port 8000

[Service]
ExecStart=/usr/bin/python3 /home/nogames/pi/machinelearning/web.py
Restart=no
KillSignal=SIGQUIT
Type=simple
NotifyAccess=all

[Install]
WantedBy=multi-user.target
